<div>
    <form method="POST">
        <label for="username">Username or E-mail</label>
        <input id="username" type="text">
        <label for="password">Password</label>
        <input id="password" type="submit">
        <label for="login">Log In</label>
        <input id="login" type="submit">
        <label for="register">Register</label>
        <input id="register" type="submit">
    </form>
</div>