@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap');

body {
    color: whitesmoke;
    background: rgb(11, 5, 45);
}

.container {
    display: grid;
    grid-template-columns: 1fr 75% 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        ". | title | ."
        ". | content | ."
        ". | footer | .";
}

h1#title {
    grid-area: title;
    align-content: center;
}

ul#subtitle {
    align-content: center;
    list-style: none;
}

ul#subtitle li {
    color: inherit;
}
ul#subtitle li:hover {
    color: hsl(from color 0 0 12); /* dunno how this actually works, check back after test. */
}