<!DOCTYPE html>
<html>
    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="babbit.alzii.me">Babbit</a>
            </div>
        </nav>

        <div id="profile">
            <img id="profile-icon" href="assets/default.png">
            <span id="profile-name">Babbler</span>
            <span id="handle">@DefaultUser</span>
            <p id="bio">Biography!</p>
        </div>

        <div id="gallery">

        </div>

        <div id="feed">
            
        </div>
    </body>
</html>