<!DOCTYPE html>
<html>
    <body>
        <h1>Commissions</h1>
        <p>This page is still under construction, and I'm very sleepy</p>
        <hr>
        <div>
            <label for="com-type">What represents you best?</label>
            <select id="com-type">
                <option value="creator">Content Creator (Twitch/YouTube)</option>
                <option value="commercial">Commercial</option>
            </select>
            <label></label>
        </div>
    </body>
</html>