<!DOCTYPE html>
<html>
    <h1>Alzii</h1>
    <ul>
        <li>Content Creator</li>
        <li>Graphic Designer</li>
        <li>Programmer</li>
    </ul>

    Discord
    <iframe src="https://discord.com/widget?id=954366387424473088&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
</html>