<div id="client-gallery" class="gallery container">
    <div class="gallery-content"></div>
    <div class="gallery-info">
        <h1 class="gallery-info title"></h1>
        <p class="gallery-info description"></p>
    </div>
</div>