<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./main.css" />
    </head>
    <body>
        <div id="wrapper">
            <h1 id="title">Alzii</h1>
            <ul id="subtitle">
                <li>Content Creator</li>
                <li>Graphic Designer</li>
                <li>Programmer</li>
            </ul>
            <hr>
            <div id="about">
                <h2>About me</h2>
                <p>
                    Hey!  I'm Alzii, a freelancer by trade.  Check out my pages for more info.
                </p>
            </div>
            <% include partials/socials.ejs %>
            <%- include('/partials/socials.ejs', {links: links}) %>
        </div>
    </body>
</html>